html,
body {
    background-image: url("images/polka-dots.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#container {
    background: none;
    justify-content: center;
}

/****************** scrollbar **********************/

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    border: 8px solid #f0f0f0;
    background-color: #6e758c;
    min-height: 25px;
    min-width: 25px;
}

::-webkit-scrollbar-track {
    border: 8px solid #f0f0f0;
    background-color: #dcdcdc;
}

/****************** header **********************/

header {
    padding: 0;
    margin: 0;
}

header img {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

header h1 {
    position: absolute;
    width: 68%;
    top: 88px;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    border: dashed 3px #ffffff;
    border-radius: 10px;
    margin: 55px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/****************** title **********************/

#title {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: -10px;
    padding: 50px;
}

#title img {
    background-color: #cee2db;
    width: 55px;
    height: 55px;
    margin: 0;
}

#title h2 {
    background-color: #f1faf7;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #4F5664;
    padding: 19px;
    margin: 0;
}

/****************** content **********************/

main {
    background-color: #ffffff;
    position: relative;
    top: -13px;
}

main article {
    background-color: #f1f1fa;
    padding: 35px;
}

.pointer {
    height: 65px;
    width: 65px;
    background: #f1f1fa;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -35px;
    position: relative;
    left: calc(0.5vw - 50px);
}

.icon {
    width: 100%;
    left: 0;
    margin: auto;
    padding-bottom: 30px;
}

.icon-wave {
    position: relative;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);    
}

.icon-greet {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
}

.icon-proud {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
}

/*************** text *******************/

article h3 {
    font-family: 'Shippori Antique', sans-serif;
    font-weight: normal;
    font-size: 33px;
    color: #677185;
    padding-right: 20px;
}

article h4 {
    font-family: 'Shippori Antique', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #b0b5be;
    padding-bottom: 30px;
    border-bottom: solid 1px #8ECACB;
}

p {
    color: #16646e;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-size: 13px;
    text-transform: none;
    text-align: justify;
    padding: 3px;
    line-height: 1.8em;
}

/*************** links *******************/

article a:link {
    color: #bead4b;
}

article a:visited {
    color: #bead4b;
}

article a {
    background: linear-gradient(0deg, #ffffff, #ffffff) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    text-decoration: none;
    color: inherit;
    line-height: 1;
}

article a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

/**************** footer **********************/

footer {
    background-color: rgb(164, 192, 212);
    margin: 0;
    padding: 30px;
    margin-bottom: 55px;
    position: relative;
    top: -10px;
}

footer p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

footer a:link {
    text-decoration: none;
    color: #ffffff;
}

footer a:visited {
    color: rgb(255, 255, 255);
}

footer a {
    position: relative;
}

footer a:hover {
    color: #bead4b;
}

footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #bead4b;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/****************** media query ******************/

@media only screen and (min-width: 600px) {

    #container {
        width: 85%;
        margin: auto;
        justify-content: center;
    }

    /************ content ************/

    header {
        position: relative;
    }

    header h1 {
        position: absolute;
        font-size: 45px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    #title img {
        width: 88px;
        height: 88px;
    }

    #title h2 {
        font-size: 26px;
        margin: 0;
        padding: 30px;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {

    #container {
        width: 80%;
        margin: auto;
        position: relative;
    }

    /************ top ************/

    header h1 {
        top: 98px;
    }

    #title {
        border-right: solid 10px rgb(164, 192, 212);
        border-left: solid 10px rgb(164, 192, 212);
    }

    /************ middle ************/

    main {
        border-right: solid 10px rgb(164, 192, 212);
        border-left: solid 10px rgb(164, 192, 212);
        padding: 35px;
        position: relative;
    }

    #one, #two, #three {
        position: relative;
        padding-bottom: 100px;        
        border-bottom: solid 3px rgb(164, 192, 212);
        margin-bottom: 28px;
    }

    #two, #three {
        padding-bottom: 130px;
    }

    div article {
        padding-bottom: 125px;
    }

    .pointer {
        margin-top: -86px;
        z-index: -1;
    }

    .icon-wave {
        position: absolute;
        top: 52%;
        left: 85%;
    }

    .icon-greet {
        position: absolute;
        top: 63%;
        left: 13%;
    }

    .icon-proud {
        position: absolute;
        top: 58%;
        left: 85%;
    }

    /************ text ************/

    main h3 {
        font-size: 23px;
    }

    main h4 {
        font-size: 15px;
        padding-top: 0;
    }

    main p {
        font-size: 13px;
        padding: 12.5px;
    }
    
    .text {
        display: flex;
    }

    .text p{
        flex: 1;
        hyphens: auto;
    }

    /************ bottom ************/

    footer {
        position: relative;
        top: -13px;
    }

    footer #contact {
        display: flex;
        padding: 8px;
        justify-content: center;
    }

    footer p {
        font-size: 18px;
        margin: 20px;
    }
}