html,
body {
    background-image: url("images/polka-dots.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
